            <!-- ABOUT ONE SECTION START -->
<div class="section-full p-t120 p-b90 bg-no-repeat bg-no-repeat bg-bottom-center bg-gray-light" style="background-color: white">
    <div class="about-section-one">
        <div class="container">
            <div class="section-content">
                <div class="row justify-content-center d-flex">

                    <div class="col-lg-6 col-md-12 m-b30">
                        <div class="about-clean-one">
                            <div class="about-clean-one-media"><img src="images/intro-pic.png" alt=""></div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12 m-b30">
                        <div class="about-section-one-right">
                            <!-- TITLE START-->
                            <div class="left wt-small-separator-outer">
                                <div class="wt-small-separator site-text-primary">
                                    <div data-i18n-key="AboutCompany">AboutCompany</div>

                                </div>
                                <h2></h2>
                                <p></p>
                            </div>
                            <!-- TITLE END-->

                            <div class="ex-year-section site-bg-secondry">
                                <div class="foud-year">
                                    <span data-i18n-key="Foundedin">Foundedin</span>
                                </div>
                                <span class="year-count site-text-primary" data-i18n-key="YearsNo">YearsNo</span>
                                <h3 class="wt-tilte" data-i18n-key="YearsofCleaningExperience">YearsofCleaningExperience</h3>
                                <i class="flaticon-household"></i>
                            </div>
                            <ul class="site-list-style-one icon-style">
                                <!-- About points will be injected here -->
                            </ul>

                            <a href="/about.html" class="site-button site-btn-effect" data-i18n-key="ViewAll">View all information</a>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<!-- ABOUT ONE SECTION END -->