            <!-- ABOUT ONE SECTION START -->
<div class="section-full p-t120 p-b90 bg-no-repeat bg-no-repeat bg-bottom-center bg-gray-light" style="background-image:url(images/background/bg-wash.png)">
    <div class="about-section-one">
        <div class="container">
            <div class="section-content">
                <div class="row justify-content-center d-flex">

                    <div class="col-lg-6 col-md-12 m-b30">
                        <div class="about-clean-one">
                            <div class="about-clean-one-media"><img src="images/intro-pic.png" alt=""></div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12 m-b30">
                        <div class="about-section-one-right">
                            <!-- TITLE START-->
                            <div class="left wt-small-separator-outer">
                                <div class="wt-small-separator site-text-primary">
                                    <div>About Company</div>

                                </div>
                                <h2>Making your house as good as new</h2>
                                <p>Our mission is not only to meet your expectations but to exceed them, we also provide many more like condos and apartment cleaning. Our unique Healthy Touch Deep Cleaning System will ensure you’ll receive a healthy, thorough housecleaning with every visit.</p>
                            </div>
                            <!-- TITLE END-->

                            <div class="ex-year-section site-bg-secondry">
                                <div class="foud-year">
                                    <span>Founded in 1995</span>
                                </div>
                                <span class="year-count site-text-primary">25</span>
                                <h3 class="wt-tilte">Years of Cleaning Experience</h3>
                                <i class="flaticon-household"></i>
                            </div>
                            <ul class="site-list-style-one icon-style">
                                <li><div class="check-list-outer"><span><i class="flaticon-checked"></i></span>Neat & Cleaning Service</div></li>
                                <li><div class="check-list-outer"><span><i class="flaticon-checked"></i></span>Expert Cleaner</div></li>
                                <li><div class="check-list-outer"><span><i class="flaticon-checked"></i></span>Office & Property Clean</div> </li>
                                <li><div class="check-list-outer"><span><i class="flaticon-checked"></i></span> 24/7 Online Support</div></li>
                            </ul>

                            <a href="/about.html" class="site-button site-btn-effect">View all information</a>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<!-- ABOUT ONE SECTION END -->