            <!-- OUR BLOG START -->
<div class="section-full  p-b90 bg-img-section  bg-gray bg-contain bg-bottom-right bg-no-repeat" style="background-image:url(images/background/bg-cleaner.png);">

    <div class="container">
        <!-- TITLE START-->
        <div class="section-head center wt-small-separator-outer text-center">
            <div class="wt-small-separator site-text-primary">
                <div></div>
            </div>
            <h2></h2>
        </div>
        <!-- TITLE END-->
    </div>

    <div class="container">
        <div class="section-content">
            <div class="row d-flex justify-content-center blog-post-1-outer">
                <!-- Blog posts will be dynamically loaded here -->
            </div>
        </div>
    </div>

</div>
<!-- OUR BLOG END -->