            <!-- OUR BLOG START -->
<div class="section-full  p-t120 p-b90 bg-img-section  bg-gray bg-contain bg-bottom-right bg-no-repeat" style="background-image:url(images/background/bg-cleaner.png);">

    <div class="container">
        <!-- TITLE START-->
        <div class="section-head center wt-small-separator-outer text-center">
            <div class="wt-small-separator site-text-primary">
                <div class="sep-leaf-left"><i class="flaticon-wiping-swipe-for-floors"></i></div>
                <div>News Feed</div>
            </div>
            <h2>Every Single Update From Our Journal </h2>
        </div>
        <!-- TITLE END-->
    </div>

    <div class="container">
        <div class="section-content">
            <div class="row d-flex justify-content-center blog-post-1-outer">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <!--Block one-->
                    <div class="blog-post date-style-1 latest-blog radius-md bg-white">
                        <div class="wt-post-media">
                            <a href="javascript:;"><img src="images/blog/latest/bg1.jpg" alt=""></a>
                        </div>
                        <div class="wt-post-info">
                            <div class="wt-post-meta ">
                                <ul>
                                    <li class="post-date site-text-primary site-bg-secondry">12 july 2020</li>
                                    <li class="post-category site-text-primary">House Cleaning</li>
                                </ul>
                            </div>
                            <div class="wt-post-title ">
                                <h3 class="post-title">Superior clean through our trained staff </h3>
                            </div>

                            <div class="wt-post-readmore ">
                                <a href="blog-post-right-sidebar.html" class="site-button-link site-text-primary">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <!--Block two-->
                    <div class="blog-post date-style-1 latest-blog radius-md bg-white">
                        <div class="wt-post-media">
                            <a href="javascript:;"><img src="images/blog/latest/bg2.jpg" alt=""></a>
                        </div>
                        <div class="wt-post-info">
                            <div class="wt-post-meta ">
                                <ul>
                                    <li class="post-date site-text-primary site-bg-secondry">14 july 2020</li>
                                    <li class="post-category site-text-primary">Office Cleaning</li>
                                </ul>
                            </div>
                            <div class="wt-post-title ">
                                <h3 class="post-title">The Green cleaning tips to combat fall germs </h3>
                            </div>

                            <div class="wt-post-readmore ">
                                <a href="blog-post-right-sidebar.html" class="site-button-link site-text-primary">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <!--Block three-->
                    <div class="blog-post date-style-1 latest-blog radius-md bg-white">
                        <div class="wt-post-media">
                            <a href="javascript:;"><img src="images/blog/latest/bg3.jpg" alt=""></a>
                        </div>
                        <div class="wt-post-info">
                            <div class="wt-post-meta ">
                                <ul>
                                    <li class="post-date site-text-primary site-bg-secondry">16 july 2020</li>
                                    <li class="post-category site-text-primary">Glass Cleaning</li>
                                </ul>
                            </div>
                            <div class="wt-post-title ">
                                <h3 class="post-title">Home cleaning training for starting a cleaning </h3>
                            </div>

                            <div class="wt-post-readmore ">
                                <a href="blog-post-right-sidebar.html" class="site-button-link site-text-primary">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
<!-- OUR BLOG END -->