<!-- ALL Categories START -->
<div class="section-full p-t120 p-b90 bg-white" style="background-image: url(images/background/bg-wash.png)">
    <!--<div class="about-clean-one-media"><img src="images/intro-pic.png" alt=""></div>-->
    <div class="container">
        <!-- TITLE START-->
        <div class="section-head center wt-small-separator-outer">
            <div class="wt-small-separator site-text-primary">
                <div data-i18n-key="OurCategories">OurCategories</div>
            </div>
            <h2> </h2>
        </div>
        <!-- TITLE END-->
        <div class="section-content">
            <div class="row justify-content-center d-flex">
            </div>
        </div>
        <div class="view-all-center text-center p-t30">
            <a href="/categories.html" class="site-button site-btn-effect" data-i18n-key="ViewallCategories">ViewallCategories</a>
        </div>
    </div>
</div>
<!-- ALL Categories SECTION END -->