<!-- ALL Categories START -->
<div class="section-full p-t120 p-b90 bg-white" style="background-image: url(images/background/bg-wash.png)">
    <!--<div class="about-clean-one-media"><img src="images/intro-pic.png" alt=""></div>-->
    <div class="container">



        <!-- TITLE START-->
        <div class="section-head center wt-small-separator-outer">
            <div class="wt-small-separator site-text-primary">
                <div data-i18n-key="OurCategories">OurCategories</div>
            </div>
            <h2> </h2>

        </div>
        <!-- TITLE END-->

        <div class="section-content">
            <div class="row justify-content-center d-flex">

                <!--<div class="col-lg-4 col-md-6 m-b30">
                    <div class="wt-box d-icon-box-one bg-white shadow card1 radius-md">

                        <div class="d-icon-box-one-media m-b20">
                            <img src="images/service/large/pic1.jpg" alt="">
                        </div>

                        <div class="d-icon-box-title title-style-2 site-text-secondry">
                            <h3 class="s-title-one">Carpet Cleaning</h3>
                        </div>

                        <div class="d-icon-box-content">
                            <p>The Carpet Cleaners we refer to you have years of experience and will</p>
                            <a href="javascript:;" class="site-button-link site-text-primary">Read More</a>
                        </div>

                    </div>
                </div>-->

                <!--<div class="col-lg-4 col-md-6 m-b30">
                    <div class="wt-box d-icon-box-one bg-white shadow card1 radius-md">

                        <div class="d-icon-box-one-media m-b20">
                            <img src="images/service/large/pic2.jpg" alt="">
                        </div>
                        <div class="d-icon-box-title title-style-2 site-text-secondry">
                            <h3 class="s-title-one">Office Cleaning</h3>
                        </div>

                        <div class="d-icon-box-content">
                            <p>We provide full office cleaning services from highly trained cleaning staff.</p>
                            <a href="javascript:;" class="site-button-link site-text-primary">Read More</a>
                        </div>

                    </div>
                </div>-->

                <!--<div class="col-lg-4 col-md-6 m-b30">
                    <div class="wt-box d-icon-box-one bg-white shadow card1 radius-md">

                        <div class="d-icon-box-one-media m-b20">
                            <img src="images/service/large/pic3.jpg" alt="">
                        </div>
                        <div class="d-icon-box-title title-style-2 site-text-secondry">
                            <h3 class="s-title-one">Toilet Cleaning</h3>
                        </div>

                        <div class="d-icon-box-content">
                            <p>Cleaning and protecting your toilet not only makes your home look great.</p>
                            <a href="javascript:;" class="site-button-link site-text-primary">Read More</a>
                        </div>

                    </div>
                </div>-->

                <!--<div class="col-lg-4 col-md-6 m-b30">
                    <div class="wt-box d-icon-box-one bg-white shadow card1 radius-md">

                        <div class="d-icon-box-one-media m-b20">
                            <img src="images/service/large/pic4.jpg" alt="">
                        </div>
                        <div class="d-icon-box-title title-style-2 site-text-secondry">
                            <h3 class="s-title-one">House Cleaning</h3>
                        </div>

                        <div class="d-icon-box-content">
                            <p>Imagine coming home to a completely clean, fresh smelling home after a long</p>
                            <a href="javascript:;" class="site-button-link site-text-primary">Read More</a>
                        </div>

                    </div>
                </div>-->

                <!--<div class="col-lg-4 col-md-6 m-b30">
                    <div class="wt-box d-icon-box-one bg-white shadow card1 radius-md">

                        <div class="d-icon-box-one-media m-b20">
                            <img src="images/service/large/pic5.jpg" alt="">
                        </div>
                        <div class="d-icon-box-title title-style-2 site-text-secondry">
                            <h3 class="s-title-one">Kitchen Cleaning</h3>
                        </div>

                        <div class="d-icon-box-content">
                            <p>Busy schedules make it difficult to find time to maintain a proper home.</p>
                            <a href="javascript:;" class="site-button-link site-text-primary">Read More</a>
                        </div>

                    </div>
                </div>-->

                <!--<div class="col-lg-4 col-md-6 m-b30">
                    <div class="wt-box d-icon-box-one bg-white shadow card1 radius-md">

                        <div class="d-icon-box-one-media m-b20">
                            <img src="images/service/large/pic6.jpg" alt="">
                        </div>
                        <div class="d-icon-box-title title-style-2 site-text-secondry">
                            <h3 class="s-title-one">Glass Cleaning</h3>
                        </div>

                        <div class="d-icon-box-content">
                            <p>Our cleaning services and we can make sure your building is always sparkling</p>
                            <a href="javascript:;" class="site-button-link site-text-primary">Read More</a>
                        </div>

                    </div>
                </div>-->
                <div class="view-all-center text-center p-t30">
                    <a href="#0" class="site-button site-btn-effect" data-i18n-key="ViewallCategories">ViewallCategories</a>
                </div>
            </div>

        </div>

    </div>
</div>
<!-- ALL Categories SECTION END -->
