			<!-- ALL SERVICES START -->
<div class="section-full p-t120 p-b120">
    <div class="container">


        <!-- TITLE START-->
        <div class="section-head center wt-small-separator-outer">
            <div class="wt-small-separator site-text-primary">
                <div class="sep-leaf-left"><i class="flaticon-wiping-swipe-for-floors"></i></div>
                <div>Our Services</div>
            </div>
            <h2>Expert cleaning service you can trust </h2>
        </div>
        <!-- TITLE END-->

        <div class="section-content">
            <div class="row justify-content-center d-flex">

                <div class="col-lg-4 col-md-6 m-b30">
                    <div class="wt-box d-icon-box-one bg-white shadow card1 radius-md">

                        <div class="wt-icon-box-wraper m-b40">
                            <div class="icon-xl inline-icon">
                                <span class="icon-cell site-text-primary"><i class="flaticon-carpet"></i></span>
                            </div>
                        </div>

                        <div class="large-bg-icon"><i class="flaticon-carpet"></i></div>


                        <div class="d-icon-box-title title-style-2 site-text-secondry">
                            <h3 class="s-title-one">Carpet Cleaning</h3>
                        </div>

                        <div class="d-icon-box-content">
                            <p>The Carpet Cleaners we refer to you have years of experience and will</p>
                            <a href="javascript:;" class="site-button-link site-text-primary">Read More</a>
                        </div>

                    </div>
                </div>

                <div class="col-lg-4 col-md-6 m-b30">
                    <div class="wt-box d-icon-box-one bg-white shadow card1 radius-md">

                        <div class="wt-icon-box-wraper m-b40">
                            <div class="icon-xl inline-icon">
                                <span class="icon-cell site-text-primary"><i class="flaticon-office"></i></span>
                            </div>
                        </div>
                        <div class="large-bg-icon"><i class="flaticon-office"></i></div>


                        <div class="d-icon-box-title title-style-2 site-text-secondry">
                            <h3 class="s-title-one">Office Cleaning</h3>
                        </div>

                        <div class="d-icon-box-content">
                            <p>We provide full office cleaning services from highly trained cleaning staff.</p>
                            <a href="javascript:;" class="site-button-link site-text-primary">Read More</a>
                        </div>

                    </div>
                </div>

                <div class="col-lg-4 col-md-6 m-b30">
                    <div class="wt-box d-icon-box-one bg-white shadow card1 radius-md">

                        <div class="wt-icon-box-wraper m-b40">
                            <div class="icon-xl inline-icon">
                                <span class="icon-cell site-text-primary"><i class="flaticon-toilet-brush"></i></span>
                            </div>
                        </div>

                        <div class="large-bg-icon"><i class="flaticon-toilet-brush"></i></div>


                        <div class="d-icon-box-title title-style-2 site-text-secondry">
                            <h3 class="s-title-one">Toilet Cleaning</h3>
                        </div>

                        <div class="d-icon-box-content">
                            <p>Cleaning and protecting your toilet not only makes your home look great.</p>
                            <a href="javascript:;" class="site-button-link site-text-primary">Read More</a>
                        </div>

                    </div>
                </div>

                <div class="col-lg-4 col-md-6 m-b30">
                    <div class="wt-box d-icon-box-one bg-white shadow card1 radius-md">

                        <div class="wt-icon-box-wraper m-b40">
                            <div class="icon-xl inline-icon">
                                <span class="icon-cell site-text-primary"><i class="flaticon-house"></i></span>
                            </div>
                        </div>

                        <div class="large-bg-icon"><i class="flaticon-house"></i></div>


                        <div class="d-icon-box-title title-style-2 site-text-secondry">
                            <h3 class="s-title-one">House Cleaning</h3>
                        </div>

                        <div class="d-icon-box-content">
                            <p>Imagine coming home to a completely clean, fresh smelling home after a long</p>
                            <a href="javascript:;" class="site-button-link site-text-primary">Read More</a>
                        </div>

                    </div>
                </div>

                <div class="col-lg-4 col-md-6 m-b30">
                    <div class="wt-box d-icon-box-one bg-white shadow card1 radius-md">

                        <div class="wt-icon-box-wraper m-b40">
                            <div class="icon-xl inline-icon">
                                <span class="icon-cell site-text-primary"><i class="flaticon-cleaning"></i></span>
                            </div>
                        </div>

                        <div class="large-bg-icon"><i class="flaticon-cleaning"></i></div>


                        <div class="d-icon-box-title title-style-2 site-text-secondry">
                            <h3 class="s-title-one">Kitchen Cleaning</h3>
                        </div>

                        <div class="d-icon-box-content">
                            <p>Busy schedules make it difficult to find time to maintain a proper home.</p>
                            <a href="javascript:;" class="site-button-link site-text-primary">Read More</a>
                        </div>

                    </div>
                </div>

                <div class="col-lg-4 col-md-6 m-b30">
                    <div class="wt-box d-icon-box-one bg-white shadow card1 radius-md">

                        <div class="wt-icon-box-wraper m-b40">
                            <div class="icon-xl inline-icon">
                                <span class="icon-cell site-text-primary"><i class="flaticon-wiper"></i></span>
                            </div>
                        </div>

                        <div class="large-bg-icon"><i class="flaticon-wiper"></i></div>


                        <div class="d-icon-box-title title-style-2 site-text-secondry">
                            <h3 class="s-title-one">Glass Cleaning</h3>
                        </div>

                        <div class="d-icon-box-content">
                            <p>Our cleaning services and we can make sure your building is always sparkling</p>
                            <a href="javascript:;" class="site-button-link site-text-primary">Read More</a>
                        </div>

                    </div>
                </div>

            </div>
            <div class="view-all-center text-center p-t30">
                <a href="#0" class="site-button site-btn-effect">View all information</a>
            </div>
        </div>

    </div>
</div>
<!-- ALL SERVICES SECTION END -->  