            <!-- STATICTIES SECTION START -->
<div class="section-full bg-white">
    <div class="section-full p-t120 p-b90 overflow-hidden site-bg-primary" style="background-image:url(images/background/bubble-3.png)">
        <div class="container">
            <!-- TITLE START-->
            <div class="section-head center wt-small-separator-outer text-center">
                <div class="wt-small-separator site-text-primary">
                    <div style="color:white">Company Staticties</div>
                </div>
                <h2 style="color:white">We Completed 2500 + Cleaning Services</h2>
            </div>
            <!-- TITLE END-->
        </div>

        <div id="bubbles">
            <div class="ball bubble-new  l1"></div>
            <div class="ball bubble-new  l2"></div>
            <div class="ball bubble-new  l3"></div>
            <div class="ball bubble-new  l4"></div>
            <div class="ball bubble-new  l5"></div>

            <div class="ball bubble-new  r1"></div>
            <div class="ball bubble-new  r2"></div>
            <div class="ball bubble-new  r3"></div>
            <div class="ball bubble-new  r4"></div>
            <div class="ball bubble-new  r5"></div>
        </div>

        <div class="section-content">
            <div class="container">

                <div class="counter-outer">

                    <div class="row justify-content-center">

                        <div class="col-lg-3 col-md-6 col-sm-6 m-b30 ">
                            <div class="counter-box site-text-white">
                                <h2 class="counter site-text-secondry">50</h2>
                                <span>Maid Appoint</span>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-6 m-b30">
                            <div class="counter-box site-text-white">
                                <h2 class="counter site-text-secondry">2160</h2>
                                <span>Customer Satified</span>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-6 m-b30">
                            <div class="counter-box site-text-white">
                                <h2 class="counter site-text-secondry">45</h2>
                                <span>Project Completed</span>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-6 m-b30">
                            <div class="counter-box site-text-white">
                                <h2 class="counter site-text-secondry">120</h2>
                                <span>Maid Person Services</span>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>

    </div>

</div>
<!-- STATICTIES SECTION  SECTION END --> 




