            <!-- STATICTIES SECTION START -->
<div class="section-full p-t120 p-b90 bg-white">
    <div class="container">
        <!-- TITLE START-->
        <div class="section-head center wt-small-separator-outer text-center">
            <div class="wt-small-separator site-text-primary">
                <div class="sep-leaf-left"><i class="flaticon-wiping-swipe-for-floors"></i></div>
                <div>Company Staticties</div>
            </div>
            <h2>We Completed 2500 + Cleaning Services</h2>
        </div>
        <!-- TITLE END-->
    </div>
    <div class="section-content">
        <div class="container">

            <div class="counter-outer">

                <div class="row justify-content-center">

                    <div class="col-lg-3 col-md-6 m-b30 ">
                        <div class="counter-box">
                            <h2 class="counter site-text-primary">50</h2>
                            <span>Maid Appoint</span>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 m-b30">
                        <div class="counter-box">
                            <h2 class="counter site-text-primary">2160</h2>
                            <span>Customer Satified</span>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 m-b30">
                        <div class="counter-box">
                            <h2 class="counter site-text-primary">45</h2>
                            <span>Project Completed</span>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 m-b30">
                        <div class="counter-box">
                            <h2 class="counter site-text-primary">120</h2>
                            <span>Maid Person Services</span>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>

</div>
<!-- STATICTIES SECTION  SECTION END --> 