            <!-- OUR TEAM START -->
<div class="section-full p-t120 p-b90 site-bg-primary bg-cover" style="background-image:url(images/background/bubble-1.png)">

    <div class="container">

        <!-- TITLE START-->
        <div class="section-head center wt-small-separator-outer text-center text-white">
            <div class="wt-small-separator site-text-secondry">
                <div class="sep-leaf-left"><i class="flaticon-wiping-swipe-for-floors"></i></div>
                <div>Our Team</div>
            </div>
            <h2>Meet Our Team</h2>
        </div>
        <!-- TITLE END-->

        <div class="section-content">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-12 m-b30">
                    <div class="wt-team-1 radius-md">

                        <div class="wt-media">
                            <img src="images/team/pic1.jpg" alt="">
                        </div>

                        <div class="wt-info">
                            <div class="team-detail">
                                <span class="title-style-2 team-position site-text-primary">Office Cleaner</span>
                                <h3 class="m-t0 team-name"><a href="team-single.html">Teresa Butler</a></h3>
                            </div>
                            <div class="team-social-center">
                                <ul class="team-social-bar">
                                    <li><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="javascript:void(0);"><i class="fa fa-pinterest"></i></a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 m-b30">
                    <div class="wt-team-1 radius-md">

                        <div class="wt-media">
                            <img src="images/team/pic2.jpg" alt="">
                        </div>

                        <div class="wt-info">
                            <div class="team-detail">
                                <span class="title-style-2 team-position site-text-primary">House Cleaner</span>
                                <h3 class="m-t0 team-name"><a href="team-single.html">Leo Simon</a></h3>
                            </div>
                            <div class="team-social-center">
                                <ul class="team-social-bar">
                                    <li><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="javascript:void(0);"><i class="fa fa-pinterest"></i></a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 m-b30">
                    <div class="wt-team-1 radius-md">

                        <div class="wt-media">
                            <img src="images/team/pic3.jpg" alt="">
                        </div>

                        <div class="wt-info">
                            <div class="team-detail">
                                <span class="title-style-2 team-position site-text-primary">House Cleaner</span>
                                <h3 class="m-t0 team-name"><a href="team-single.html">John Casey</a></h3>
                            </div>
                            <div class="team-social-center">
                                <ul class="team-social-bar">
                                    <li><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="javascript:void(0);"><i class="fa fa-pinterest"></i></a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
<!-- OUR TEAM SECTION END --> 