            <!-- TESTIMONIAL SECTION START -->
<div class="section-full  p-t120 p-b90 testimonial-1-outer">
    <div class="container ">
        <div class="section-content">
            <div class="row">
                <div class="col-lg-5 col-md-12  d-flex align-items-start">
                    <!-- TITLE START-->
                    <div class="left wt-small-separator-outer">
                        <div class="wt-small-separator site-text-primary">
                            <div class="sep-leaf-left"><i class="flaticon-wiping-swipe-for-floors"></i></div>
                            <div>Client Testimonials</div>
                        </div>
                        <h2>Professional Cleaning Service</h2>
                    </div>
                    <!-- TITLE END-->
                </div>

                <div class="col-lg-7 col-md-12">
                    <div class="testimonial-block-position-outer">
                        <div class="testimonial-block-position">
                            <div class="testimonial-1-content owl-carousel">

                                <div class="item">
                                    <div class="testimonial-1 bg-white">
                                        <div class="testimonial-content">
                                            <div class="testimonial-detail clearfix">
                                                <div class="testimonial-pic-block">
                                                    <div class="testimonial-pic">
                                                        <img src="images/testimonials/pic1.jpg" alt="">
                                                    </div>
                                                </div>
                                                <div class="testimonial-info">
                                                    <span class="testimonial-name  title-style-2">Teresa Butler</span>
                                                    <span class="testimonial-position title-style-2">Businessman</span>
                                                </div>
                                            </div>

                                            <div class="testimonial-text">
                                                <i class="flaticon-left-quote"></i>
                                                <p>The Cleaning Service consistently meets our very high housekeeping requirements, I recommend their service. their employees are both friendly and knowledgeable.</p>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="testimonial-1 bg-white">
                                        <div class="testimonial-content">
                                            <div class="testimonial-detail clearfix">
                                                <div class="testimonial-pic-block">
                                                    <div class="testimonial-pic">
                                                        <img src="images/testimonials/pic2.jpg" alt="">
                                                    </div>
                                                </div>
                                                <div class="testimonial-info">
                                                    <span class="testimonial-name  title-style-2">Juliana Bryant</span>
                                                    <span class="testimonial-position title-style-2">Businessman</span>
                                                </div>
                                            </div>

                                            <div class="testimonial-text">
                                                <i class="flaticon-left-quote"></i>
                                                <p>The Cleaning Service consistently meets our very high housekeeping requirements, I recommend their service. their employees are both friendly and knowledgeable.</p>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="testimonial-1 bg-white">
                                        <div class="testimonial-content">
                                            <div class="testimonial-detail clearfix">
                                                <div class="testimonial-pic-block">
                                                    <div class="testimonial-pic">
                                                        <img src="images/testimonials/pic3.jpg" alt="">
                                                    </div>
                                                </div>
                                                <div class="testimonial-info">
                                                    <span class="testimonial-name  title-style-2">Devid Smith</span>
                                                    <span class="testimonial-position title-style-2">Businessman</span>
                                                </div>
                                            </div>

                                            <div class="testimonial-text">
                                                <i class="flaticon-left-quote"></i>
                                                <p>The Cleaning Service consistently meets our very high housekeeping requirements, I recommend their service. their employees are both friendly and knowledgeable.</p>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- TESTIMONIAL SECTION END -->