html {
    font-size: 14px;
    font-family: 'dinnextltarabic-medium', 'Heebo';
}
/*@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&amp;display=swap");*/

@font-face {
    font-family: 'dinnextltarabic-medium';
    src: url('../fonts/dinnextltarabic-medium.ttf') format('truetype');
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
        font-family: 'dinnextltarabic-medium', 'Heebo';
    }
}

.all-btn {
    background-color: #1BBCE8 !important;
}

    .all-btn:hover {
        background-color: #842e91 !important;
    }

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.field-validation-error{
    color:red;
}