
<div id="bubbles">
    <div class="ball bubble-new  l1"></div>
    <div class="ball bubble-new  l2"></div>
    <div class="ball bubble-new  l3"></div>
    <div class="ball bubble-new  l4"></div>
    <div class="ball bubble-new  l5"></div>

    <div class="ball bubble-new  r1"></div>
    <div class="ball bubble-new  r2"></div>
    <div class="ball bubble-new  r3"></div>
    <div class="ball bubble-new  r4"></div>
    <div class="ball bubble-new  r5"></div>
</div>

<!-- FOOTER BLOCKES START -->
<div class="footer-top">
    <div class="container">
        <div class="row">

            <div class="col-lg-4 col-md-6">

                <div class="widget recent-posts-entry">
                    <h3 class="widget-title">Get in Touch</h3>
                    <ul class="widget_address">
                        <li><i class="fa fa-map-marker"></i><span id="footer-address">Loading address...</span></li>
                        <li><i class="fa fa-envelope"></i><span id="footer-email">Loading email...</span></li>
                        <li><i class="fa fa-phone"></i><span id="footer-phone">Loading phone...</span></li>
                    </ul>

                    <ul class="social-icons  wt-social-links footer-social-icon">
                        <li><a id="sm-facebook" href="javascript:void(0);" class="fa fa-facebook" target="_blank" rel="noopener"></a></li>
                        <li><a id="sm-instagram" href="javascript:void(0);" class="fa fa-instagram" target="_blank" rel="noopener"></a></li>
                        <li><a id="sm-whatsapp" href="javascript:void(0);" class="fa fa-whatsapp" target="_blank" rel="noopener"></a></li>
                        <li><a id="sm-website" href="javascript:void(0);" class="fa fa-globe" target="_blank" rel="noopener"></a></li>
                    </ul>
                </div>
            </div>


            <div class="col-lg-4 col-md-6">
                <div class="widget widget_services">
                    <h3 class="widget-title">Useful links</h3>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About us</a></li>
                        <li><a href="brands.html">Brands</a></li>
                        <li><a href="categories.html">Categories</a></li>
                        <li><a href="products.html">Products</a></li>
                        <li><a href="faq.html">FAQ</a></li>
                        <li><a href="contactus.html">Contact us</a></li>
                        <li><a href="QrCode.html">Qr Code</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">

                <div class="widget widget_services">
                    <h3 class="widget-title">Our Categories</h3>
                    <ul id="footer-categories"></ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FOOTER COPYRIGHT -->

<div class="footer-bottom">
    <div class="container">
        <div class="footer-bottom-info d-flex justify-content-between">
            <div class="wt-footer-bot-left">
                <span class="copyrights-text">Copyright © 2024 <strong>Khayrat Al-Qastal - Jordan</strong> All rights reserved.</span>
            </div>
            <div class="wt-footer-bot-right">
                <div class="footer-powered-by">Powered by 
                    <a class="Majestic-lin text-white" href="http://majesticagency.net/" target="_blank" rel="nofollow"><strong>Majestic Agency</strong></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Generated by Cursor: moved API init to layout-loader.js (footer:loaded) -->
