<header class="site-header header-style-4 mobile-sider-drawer-menu">
    <div class="sticky-header main-bar-wraper  navbar-expand-lg">
        <div class="main-bar">

            <div class="container clearfix nav-tabs-header">

                <div class="logo-header">
                    <div class="logo-header-inner logo-header-one">
                        <a href="index.html">
                            <img src="images/khayrat-alqastal-logo-en-white-2.png" alt="" class="logo-header-one-img">
                        </a>
                    </div>
                </div>

                <!-- NAV Toggle Button -->
                <button id="mobile-side-drawer" data-target=".header-nav" data-toggle="collapse" type="button" class="navbar-toggler collapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar icon-bar-first"></span>
                    <span class="icon-bar icon-bar-two"></span>
                    <span class="icon-bar icon-bar-three"></span>
                </button>


                <!-- MAIN Vav -->
                <div class="nav-animation header-nav navbar-collapse collapse d-flex justify-content-end">

                    <ul class=" nav navbar-nav">
                        <li class="has-child">
                            <a href="index.html" id="nav-home-text" data-i18n-key="Home">Home</a>
                        </li>

                        <li class="has-child">
                            <a href="about.html" data-i18n-key="AboutUs">AboutUs</a>
                        </li>

                        <li class="has-child">
                            <a href="brands.html" data-i18n-key="Brands">Brands</a>
                        </li>

                        <li class="has-child">
                            <a href="categories.html" data-i18n-key="Categories">Categories</a>
                        </li>
                        <li class="has-child">
                            <a href="products.html" data-i18n-key="Products">Products</a>
                        </li>
                        <li class="has-child">
                            <a href="stains.html" data-i18n-key="Stains">Stains</a>
                        </li>
                        <li class="has-child">
                            <a href="faq.html" data-i18n-key="FAQ">FAQ</a>
                        </li>
                        <li class="has-child">
                            <a href="Contactus.html" data-i18n-key="Contactus">Contact us</a>
                        </li>
                        <li class="has-child">
                            <a href="#" id="lang-current" data-i18n-key="EN"> EN</a>
                            <div class="fa fa-angle-right submenu-toogle"></div>
                            <ul class="sub-menu">
                                <li><a href="#" data-lang="en" class="lang-option" data-i18n-key="EN">EN</a></li>
                                <li><a href="#" data-lang="ar" class="lang-option" data-i18n-key="AR">AR</a></li>
                            </ul>
                        </li>
                    </ul>

                </div>

            </div>


        </div>
    </div>
</header>

<script>
(function(){
    function setCookie(name, value, days) {
        var expires = "";
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days*24*60*60*1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + (value || "")  + expires + "; path=/";
    }
    function getCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for(var i=0;i < ca.length;i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') c = c.substring(1,c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
        }
        return null;
    }

    function currentCulture(){
        var v = getCookie('.AspNetCore.Culture');
        if(!v){ return 'en'; }
        var m = /c=([^\|]+)/.exec(v);
        return m && m[1] ? m[1] : 'en';
    }

    function updateTexts(){
        var homeEl = document.getElementById('nav-home-text');
        if(!homeEl) return;
        fetch('/api/Localization/t/Home', { credentials: 'same-origin' })
            .then(function(r){ return r.json(); })
            .then(function(data){ if(data && data.value){ homeEl.textContent = data.value; }});
        var cur = currentCulture();
        var curEl = document.getElementById('lang-current');
        if(curEl){ curEl.textContent = cur.toUpperCase(); }
        // Toggle dir for Arabic
        if(cur === 'ar'){
            document.documentElement.setAttribute('dir','rtl');
            document.documentElement.setAttribute('lang','ar');
        } else {
            document.documentElement.setAttribute('dir','ltr');
            document.documentElement.setAttribute('lang','en');
        }
    }

    function attachHandlers(){
        var options = document.querySelectorAll('.lang-option');
        for(var i=0;i<options.length;i++){
            options[i].addEventListener('click', function(e){
                e.preventDefault();
                var lang = this.getAttribute('data-lang') || 'en';
                fetch('/api/Localization/set-culture?culture=' + encodeURIComponent(lang), { method:'POST', credentials:'same-origin' })
                    .then(function(){ updateTexts(); location.reload(); });
            });
        }
    }

    document.addEventListener('DOMContentLoaded', function(){
        attachHandlers();
        updateTexts();
    });
})();
</script>